<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form method="post" id='linkresolver'>
  {% csrf_token %}
  <input maxlength="250" formmethod="post" name="linkresolver" form="linkresolver">
  <button id="submitButton" form="linkresolver" >Get shortlink!</button>

</form>
{% if error %} <p>{{error}}</p> {% endif %}
{% if response %} <a href="{{response}}">{{response}}</a> {% endif %}
<script src="{{ STATIC_URL }}www/js/jquery-3.2.1.min.js"></script>
<script src="{{ STATIC_URL }}www/js/main.js"></script>
</body>
</html>
